{% extends 'base.html.twig' %}
{% form_theme courseForm 'bootstrap_5_layout.html.twig' %}
{% block title %}Créer un cours{% endblock %}

{% block body %}
    <h1>Créer un cours</h1>
    <div>
        {# {{ form(courseForm) }} #}
        {# 2ieme solution #}
        {{ form_start(courseForm) }}
        {{ form_widget(courseForm) }}
        <button class="btn btn-primary btn-sm">Ajouter</button>
        {{ form_end(courseForm) }}
    </div>
{% endblock %}