{% extends 'base.html.twig' %}
{% form_theme courseForm 'bootstrap_5_layout.html.twig' %}
{% block title %}Modifier un cours{% endblock %}

{% block body %}
    <h1>Modifier le cours</h1>
    <div>
        {{ form_start(courseForm) }}
        {{ form_widget(courseForm) }}
        <button class="btn btn-primary btn-sm">Modifier</button>
        {{ form_end(courseForm) }}
    </div>
{% endblock %}