{% extends 'base.html.twig' %}

{% block title %}Demo Liste Cours{% endblock %}

{% block body %}
    <h1>Liste des cours</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Durée (jours)</th>
                <th>Date Création</th>
                <th>Publié</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.duration }}</td>
                <td>{{ course.dateCreated|date('d/m/Y') }}</td>
                <td>{{ course.published ? "X":"" }}</td>
                <td>
                    <a href="{{ path('app_course_show',{'id':course.id}) }}"
                       title="Détail du cours">Détail</a>
                    <a href="{{ path('app_course_edit',{'id':course.id}) }}"
                       title="Modifier le cours">Modifier</a>
                </td>
            </tr>
            {% else %}
                <tr><td colspan="5">Aucune donnée dans la BD.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}