{% extends 'base.html.twig' %}

{% block title %}{{ course.name}} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Détail du cours {{ course.name }}</h1>
        <p>{{ course.content }}</p>
        <p>Durée (jours): {{ course.duration }}</p>
        <p>Date Création : {{ course.dateCreated|date('d/m/Y') }}</p>
        <p>Publié : {{ course.published ? "Oui":"Non" }}</p>
{% endblock %}