{% extends 'base.html.twig' %}

{% block title %}Création Wish !{% endblock %}

{% block body %}
    <h2>Wish</h2>
    {{ form_start(wishForm) }}
    {{ form_row(wishForm.titre) }}
    {{ form_row(wishForm.description) }}
    {{ form_row(wishForm.author) }}
    <div class="d-flex">
        <div class="col-sm-9">
            {{ form_row(wishForm.image) }}
        </div>
        <div class="col-sm-3">
            {% if wishForm.vars.value.filename != null %}
            <img src="{{ asset(app_images_wish_directory ~ '/' ~ wishForm.vars.value.filename) }}"
                 class="img-fluid" alt="image"/>
               {{ form_row(wishForm.deleteImage)}}
            {% endif %}
        </div>
    </div>
    <button class="btn btn-sm btn-primary">{{ wishForm.vars.value.id == null ? 'Créer' :'Modifier' }}</button>
    {{ form_end(wishForm) }}

{% endblock %}
