{% extends 'base.html.twig' %}

{% block title %}{{ wish.titre}} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="card-body">
        <h2>Détail du voeux {{ wish.titre }}</h2>
        <p>{{ wish.description }}</p>
        <p>Auteur : {{ wish.author }}</p>

        <div class="card mt-2 mb-2 w-50 m-auto">
            {% if wish.filename  %}
                <img src="{{ asset(app_images_wish_director~'/'~wish.filename) }}" class="img-fluid" alt="image"/>
            {% endif %}
        </div>

        <div class="text-center">
            <a href="{{ path('app_wish_delete',{'id':wish.id,'token':csrf_token('delete'~wish.id)}) }}"
               class="btn btn-danger mt-2"
               title="Suppression du voeu">Supprimer</a>

            <a href="{{ path('app_wish_update',{'id':wish.id) }}"
               class="btn btn-secondary mt-2"
               title="Modifier le voeu">Modifier</a>
        </div>
    </div>
{% endblock %}