{% extends 'base.html.twig' %}

{% block title %}Demo Liste des voeux{% endblock %}

{% block body %}
    <h1>Liste des voeux</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Auteur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for wish in whishes %}
            <tr>
                <td>{{ wish.titre }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>
                    <a href="{{ path('app_course_show',{'id':wish.id}) }}"
                       title="Détail du voeu">Détail</a>
                    <a href="{{ path('app_wish_update',{'id':wish.id}) }}"
                       title="Modifier le voeu">Modifier</a>
                </td>
            </tr>
            {% else %}
                <tr><td colspan="5">Aucune donnée dans la BD.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}