<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
{#                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">#}
{#                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">#}
{#                        <div class="toast-header text-white bg-{{ label }}">#}
{#                            <strong class="me-auto">Notification</strong>#}
{#                            <small>Maintenant</small>#}
{#                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>#}
{#                        </div>#}
{#                        <div class="toast-body">#}
{#                            {{ message }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
    </body>
</html>
